/* RESET CSS */


:root {
    --bg-input: #F9F5F3;
    --orange-text: #FF9100;
    --brown-secondary: #321312;
    --brow-terciary: #25100F;
}
* { 
    margin: 0; 
    padding: 0;
    box-sizing: border-box; 
}
ol, ul {
	list-style: none;
    text-decoration: none;
}

a {
    display: block;
    text-decoration: none;
    color: inherit;
    font-size: inherit;
  }

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html{
    font-size: 62.5%;
}



.hero-contact{
    margin-bottom: 2rem;
}
.hero-contact__title{
    font-size: 3rem;
}
.hero-contact__work{
    font-size: 2rem;
}

.container{
    width: 95%;
    margin: 0 auto;

}

.contact__info{
    /* width: 100%; */
    margin-bottom: 4rem;
}

.info__cards{
    /* background-color: var(--bg-input); */
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.cards__card{
    width: 65%;
    max-width: 30rem;
    margin: 0 auto;
    padding: 2.5rem;
    background-color: var(--bg-input);
    border-radius: .8rem;
}
.card__icon{
    font-size: 3rem;
    background-color: white;
    padding: 1.2rem;
    border-radius: .6rem;
}
.card__title{
    font-size: 1.8rem;
    margin-top: 1.6rem;
    color: var(--orange-text);
}
.card__description{
    margin-top: 1.4rem;
    font-size: 2rem;
}

.info__details{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 0 auto 2rem;
}


.contact__description{
    font-size: 2rem;
    margin-bottom: 2rem;
}


.contact__form{
    max-width: 40rem;
    margin: 0 auto 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.form__input{
    font-size: 1.6rem;
    padding: 1.6rem;
    background-color: var(--bg-input);
    border-radius: 1rem;
    border: none;
}

.btn{
    width: 75%;
    padding: 1.6rem;
    border-radius: 2rem;
    border: none;
}

.form__submit{
    font-size: 2rem;
    margin: 0 auto;
    background-color: var(--orange-text);
    opacity: .8;
}

.form__submit:hover{
    border: solid 1px gray;
}

.contact__map{
    text-align: center;
    width: 100%;
    margin-bottom: 2rem;
}

.map {
    border: none;
    width: 100%;
    max-width: 600px;
    height: 40rem;
}


/* FOOTER */

.footer{
    color: white;
}
.wrap{
    background-color: var(--brown-secondary);
    padding-bottom: 2rem;
}
.footer__wrapper{
    display: grid;

}


.company__logo{
    margin-bottom: 2rem;
}
.logo__icon{
    font-size: 3rem;
}
.logo__name{
    font-size: 2.5rem;
}

.footer__company-description{
    font-size: 1.8rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    /* width: 100%; */
    /* max-width: 33.33%; */
}

.footer__contact{
    font-size: 1.6rem;
}
.contact__title{
    font-size: 2rem;
    margin-bottom: 1.6rem;
}
.contact__item{
    margin-bottom: 1.6rem;
    color: var(--orange-text);
}
.contact__item-description{
    margin-bottom: 1.6rem;
    color: white;
}

.footer__social{
    
}
.social__title{
    font-size: 2rem;
    margin-bottom: 1.6rem;
}
.social__list{
    color: white;
    display: flex;
    font-size: 2rem;
    gap: 1rem;
}
.footer__copy{
    color: white;
    background-color: var(--brow-terciary);
    text-align: center;
}

.alert{
    display: none;
    font-size: 1.8rem;
    padding: 2rem;
    border-radius: .8rem;
    border: 1px solid var(--brow-terciary);
    margin-bottom: 2rem;
}
.danger{
    color: white;
    background-color: var(--brown-secondary);
}
.succes{
    background-color: var(--orange-text);
    opacity: .8;
}